body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #737074;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9161e5b3;
  padding: 15px 30px;
  color: white;
}

nav a {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgb(211, 211, 211);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: none;
  background: #763fd5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card button.remove {
  background: rgb(99, 8, 111);
}

.cart-info {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 0 10px #00000018;
}

.buy-btn {
  margin-top: 15px;
  padding: 10px 25px;
  background: green;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.page-title {
  text-align: center;
  margin-top: 20px;
}

